header {
  background-image: url("https://i.imgur.com/oD2GYi3.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 35%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

ul {
  margin: 10px;
}

li {
  margin-bottom: 20px;
}

h1 {
  position: absolute;
  margin-left: 50px;
  margin-top: 25px;
  color: white;
  font: 36px;
  font-family: Georgia, serif, Helvetica, sans-serif;
}

.header-photo img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin-left: 85px;
  margin-top: 80px;
  outline: 2px solid #dddd;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px;
}

h2 {
  color: #dddd;
  font-size: 24px;
  margin-bottom: 10px;
  text-decoration: underline;
}

h3 {
  color: #dddd;
  font-size: 18px;
  line-height: 1.5;
  font-weight: bold;
}

li2 {
  color: #dddd;
}

li {
  color: #dddd;
}

h4 {
  color: #dddd;
  font-size: 15px
}

h5 {
  color: #dddd;
  font-size: 13px;
  text-decoration: underline;
  text-align: center;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center; 
  background-image: url("https://cdn.create.vista.com/api/media/medium/333794654/stock-photo-top-view-curved-blue-paper?token=");
  background-size: cover;
  background-position: center;
}

.project-details {
  text-align:center;
  grid-column: 1 / -1;
  width: 100%;
  
}

.video-container {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* ratio info */
  position: relative;
}

.video-container iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.code-container {
  width: 100%;
  max-height: 400px; /* code container height */
  overflow: auto;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 20px;
}

pre {
  font-family: "Courier New", monospace;
  font-size: 14px;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #dddd;
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

section {
  border: 1px solid #dddd;
  padding: 20px;
  width: 100%;
  max-width: 1000px;
}

section.project-details {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}
