header {
  background-image: url("https://i.imgur.com/oD2GYi3.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 35%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.header-content {
  text-align:center;
}

.contact-box {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: rgba(0,60,100);
  padding: 10px;
  border-radius: 330px;
  z-index: 9999;
}

h6 {
  margin-left: 59px;
  color: #dddd;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px
}

p {
  padding: 15px;
  color: #dddd;
  text-decoration: underline;
}

a {
  padding: 15px;
  color: #dddd;
} 

.contact-box h4 {
  font-size: 18px;
  margin-bottom: 8px;
}

.contact-box p {
  margin: 0;
}

ul {
  margin: 10px;
}

li {
  margin-bottom: 20px;
}

h1 {
  position: absolute;
  margin-left: 50px;
  margin-top: 25px;
  color: white;
  font: 36px;
  font-family: Georgia, serif, Helvetica, sans-serif;
}

.header-photo img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin-left: 85px;
  margin-top: 80px;
  outline: 2px solid #dddd;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px;
}

h2 {
  color: #dddd;
  font-size: 24px;
  margin-bottom: 30px;
  text-decoration: underline;
  margin-left: 30px
}

h3 {
  color: #dddd;
  font-size: 18px;
  line-height: 1.5;
  font-weight: bold;
  margin-left: 30px
}

li2 {
  color: #dddd;
}

li {
  color: #dddd;
}

h4 {
  color: #dddd;
  font-size: 15px;
  margin-left: 40px;
}

h5 {
  color: #dddd;
  font-size: 13px;
  text-decoration: underline;
  text-align: center;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center; 
  background-image: url("https://cdn.create.vista.com/api/media/medium/333794654/stock-photo-top-view-curved-blue-paper?token=");
  background-size: cover;
  background-position: center;
}

.project-details {
  text-align:center;
  width: 100%;
  
}

.video-container {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* ratio info */
  position: relative;
}

.video-container iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.code-container {
  width: 100%;
  max-height: 400px; /* code container height */
  overflow: auto;
  border: 1px solid black;
  padding: 10px;
  margin-top: 20px;
}

pre {
  font-family: "Courier New", monospace;
  font-size: 14px;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #dddd;
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

section {
  border: 3px solid black;
  padding: 20px;
  width: 100%;
  max-width: 1000px;
}


/* Diff device media querries */

@media only screen and (max-device-width: 600px) {
  /* Mobile-specific CSS rules */
  header {
    width: 100%;
  }
  .header-photo img {
    margin-left: 0;
  }
}
