  <style>
    header { 
    background-image: url("https://i.imgur.com/oD2GYi3.jpg");
    background-size: cover;
    background-position: center;
    height: 20%;
    position: relative;
    }
    
  h1 {
    position: absolute;
    margin-left: 11%;
    margin-top: 3%;
    color: #dddd;
    font-family: Georgia, serif, Helvetica, sans-serif;
    font-size: 65px; 
    }

  .header-photo img{
    width: 20%;
    height: 60%;
    border-radius: 100%;
    margin-left: 5%;
    margin-top: 13%;
    outline: 2px solid grey
    }
  h2 {
    margin-left: 61%;
    margin-top: -28%;
    color: black;
    font-size: 32px;
    font-family: Georgia, serif, Helvetica, sans-serif;
}
  </style>
</head>
<body>
